.travel-card {
  border-radius: 0.25rem !important;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  margin-bottom: 30px;
}

.travel-card:hover {
  cursor: pointer;
}

.travel-card-link,
.travel-card-link:hover {
  text-decoration: none;
  color: #000;
}

.travel-card .card-body {
  position: relative;
  padding-top: 40px;
}

.travel-card .profile-picture-box {
  margin-top: 25px;
}

.travel-card .profile-picture-user {
  width:80%;
}

.travel-card .card-image {
  width: 100%;
}

.card-text {
  font-weight: normal;
  text-align: justify;
}

.card-image-large {
  width: 100%;
}

.card-users {
  margin-bottom: 0;
  font-weight: normal;
  font-style: italic;
}

