/* ==========================================================================
Main page styles
========================================================================== */

.profilNav,
.wall,
.trendingDestination {
  width: 100%;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 0px 3px #849199;
  height: auto;
}
.profilNav {
  border-top: 50px solid #1da1f2;
}
.wall {
  height: 1000px;
}
//Side Bar
.profilPhotoNav {
  background-color: #849199;
  border: 2px solid white;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  float: left;
  margin-top: -40px;
  margin-right: 20px;
  position: relative;
}
.userInfoNav {
  border-bottom: 0.5px solid #849199;
}
.tripInforNav {
  margin-top: 10px;
  margin-bottom: 30px;
}
.tripInforNav a {
  text-decoration: none;
  font-weight: normal;
  font-weight: bold;
  color: #849199;
}
.tripInforNav a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #1da1f2;
}

//Trending destination
.trendingDestinationList {
  border-top: 0.5px solid #849199;
}
