.touki-profile {
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 0.5rem;
  background: #fff;

  .profile-img {
    text-align: center;
  }
  .profile-img img {
    margin: auto;
    width: 80%;
    height: 100%;
    max-height: 300px;
  }
  .profile-data span {
    display: block;
    color: #444;
    margin-top: 5px;
    margin-bottom: 5px;

    a {
      color: #1da1f2;
    }
  }
  .profile-head {
    .u-fullName {
      font-size: 2em;
      color: #111;
      margin-bottom: 0px;
    }
    .u-login {
      font-size: 1.7em;
      color: #333;
      margin-top: 0px;
      line-height: 10px;
      & svg {
        font-size: 0.7em;
      }
    }
  }
  .profile-head-more {
    margin-top: 20px;
    font-size: 0.8em;
  }
  .profile-edit-btn {
    margin-top: 10px;
    border-color: #1da1f2;
    color: #1da1f2;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .profile-edit-btn:hover {
    border-color: #1da1f2;
    background-color: #1da1f2;
    color: #fff;
  }
  .profile-head .nav-tabs {
    margin-bottom: 5%;
  }
  .profile-head .nav-tabs .nav-link {
    font-weight: 600;
  }
  .nav-tabs {
    width: 100%;
  }
  .nav-item {
    width: 25%;
  }
  .nav-link {
    text-align: center;
    border: none;
  }
  .nav-link:hover {
    color: #1da1f2 !important;
  }
  .nav-link.active {
    color: #1da1f2;
    border-bottom: 2px solid #1da1f2;
  }
  .profile-tab label {
    font-weight: 600;
  }
  .profile-tab p {
    font-weight: 600;
    color: #0062cc;
  }

  /* Hide text in tab header when < 576px */
  @media (max-width: 576px) {
    .nav-tabs {
      border-bottom: none;

      .nav-link {
        font-size: 0;
        & svg {
          font-size: initial;
        }
      }
    }
  }
}
