$touki-main-color: #1da1f2;
$touki-dlt-color: #cc494a;

.touki-profile {
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 0.5rem;
  background: #fff;

  .profile-img {
    text-align: center;
  }
  .profile-img img {
    margin: auto;
    width: 80%;
    height: 100%;
    max-height: 300px;
    max-width: 300px;
  }
  .profile-data span {
    display: block;
    color: #444;
    margin-top: 5px;
    margin-bottom: 5px;

    a {
      color: $touki-main-color;
    }
  }
  .profile-head {
    .u-fullName {
      font-size: 2em;
      color: #111;
      margin-bottom: 0px;
    }
    .u-login {
      font-size: 1.7em;
      color: #333;
      margin-top: 0px;
      line-height: 10px;
      & svg {
        font-size: 0.7em;
      }
    }
    .u-travels {
      font-size: 1.3em;
    }
  }
  .profile-head-more {
    margin-top: 20px;
    font-size: 0.8em;
  }

  .profile-btn {
    margin-top: 10px;
    border-color: $touki-main-color;
    color: $touki-main-color;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    border-color: $touki-main-color;
    color: $touki-main-color;

    &:hover {
      color: #fff !important;
      border-color: $touki-main-color;
      background-color: $touki-main-color;
    }

    &.profile-dlt-btn {
      span:nth-child(1) {
        display: inline;
      }
      span:nth-child(2) {
        display: none;
      }

      &:hover {
        border-color: $touki-dlt-color;
        background-color: $touki-dlt-color;

        span:nth-child(1) {
          display: none;
        }
        span:nth-child(2) {
          display: inline;
        }
      }
    }
  }

  .profile-head .nav-tabs {
    margin-bottom: 5%;
  }
  .profile-head .nav-tabs .nav-link {
    font-weight: 600;
  }
  .nav-tabs {
    width: 100%;
  }
  .nav-item {
    width: 20%;
  }
  .nav-link {
    text-align: center;
    border: none;
    height: 100%;
  }
  .nav-link:hover {
    color: $touki-main-color !important;
  }
  .nav-link.active {
    color: $touki-main-color;
    border-bottom: 2px solid $touki-main-color;
  }

  .tab-content {
    width: 100%;
    margin-top: 5px;
  }

  /* Hide text in tab header when < 576px */
  @media (max-width: 576px) {
    .nav-tabs {
      border-bottom: none;

      .nav-link {
        font-size: 0;
        & svg {
          font-size: initial;
        }
      }
    }
  }
}
